In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('test.db', check_same_thread=False)

In [110]:
# equipment_master = pd.read_excel("static\\inputData\\equipment_master.xlsx")
# equipment_master.columns.tolist()

In [ ]:
equipment_master.columns.tolist()

In [114]:
# query = """INSERT INTO USERS ( USERNAME , ROLE, PASSWORD)
#                          VALUES ( '{}','{}','{}')""".format(username,role,password)
# print(query)
# conn.execute(query)
query= """CREATE TABLE equipment_master        
           (    Type varchar(255),
                EQUIPMENT_NAME varchar(255),
                MAKE varchar(255),
                MODEL_NUMBER varchar(255),
                SR_NO_ID varchar(255),
                DONE_DATE varchar(255),
                DUE_DATE varchar(255),
                STATUS varchar(255),
                ISSUED_TO varchar(255),
                COMPANY_NAME varchar(255),
                REMARK varchar(255))"""
conn.execute("drop table if exists  equipment_master ")
conn.commit()
conn.execute(query)
conn.commit()
stmt = "SELECT * from equipment_master "
cursor = conn.execute(stmt)
for row in cursor:
    print(row)

In [115]:
for row in equipment_master.itertuples():
    query = """INSERT INTO equipment_master 
            (Type ,EQUIPMENT_NAME ,MAKE ,MODEL_NUMBER,SR_NO_ID ,DONE_DATE ,DUE_DATE,STATUS,ISSUED_TO,COMPANY_NAME ,REMARK) 
            VALUES ( '{}','{}','{}','{}','{}','{}','{}','{}','{}','{}',"{}")""".format(row[2],row[3],row[4],row[5],row[6],row[7],row[8],"AVAILABLE","","","")
    #print(query)
    conn.execute(query)
    conn.commit()
    
stmt = "SELECT * from equipment_master "
cursor = conn.execute(stmt)
equipment_list = []
for row in cursor:
    equipment_list.append(list(row))
equipment_frame = pd.DataFrame(equipment_list)
equipment_frame.columns = ['Type' ,'EQUIPMENT_NAME' ,'MAKE' ,'MODEL_NUMBER','SR_NO_ID' ,'DONE_DATE' ,'DUE_DATE','STATUS','ISSUED_TO','COMPANY_NAME' ,'REMARK']
equipment_frame

,Type,EQUIPMENT_NAME,MAKE,MODEL_NUMBER,SR_NO_ID,DONE_DATE,DUE_DATE,STATUS,ISSUED_TO,COMPANY_NAME,REMARK
0,AIR_VELOCITY,VANE TYPE ANEMOETER,METRAVI,AVM-04,S12K240201,2021-09-11 00:00:00,2021-09-11 00:00:00,AVAILABLE,,,
1,AIR_VELOCITY,VANE TYPE ANEMOETER,INDI,3145,S12K160162,2022-09-11 00:00:00,2022-09-11 00:00:00,AVAILABLE,,,
2,AIR_VELOCITY,VANE TYPE ANEMOETER,HSTENI,HT-9819,202003305488,2021-04-10 00:00:00,2022-03-10 00:00:00,AVAILABLE,,,
3,AIR_VELOCITY,VANE TYPE ANEMOETER,METRAVI,AVM-10,200616197,2024-09-11 00:00:00,2024-09-11 00:00:00,AVAILABLE,,,
4,PAO_TEST,Aerosol Photometer,TEC Service,PH-5,2829,13/01/2022,13/01/2023,AVAILABLE,,,
5,PAO_TEST,Aerosol Photometer,TEC Service,PH-5,3690,26/03/2021,26/03/2022,AVAILABLE,,,
6,PARTICLE_COUNT,Partical Counter,TSI,9500-01,95001809003,13/01/2022,13/01/2023,AVAILABLE,,,
7,PARTICLE_COUNT,Partical Counter,TSI,9350-03,93502030005,13/01/2022,13/01/2023,AVAILABLE,,,

## ELOGBOOK

In [116]:
query= """CREATE TABLE elogbook        
           (    
                SR_NO_ID varchar(255),
                STATUS varchar(255),
                ISSUED_TO varchar(255),
                COMPANY_NAME varchar(255),
                REMARK varchar(255),
                update_time varchar(255))"""
conn.execute("drop table if exists  elogbook ")
conn.commit()
conn.execute(query)
conn.commit()

In [117]:
# query="""INSERT INTO elogbook
#                     (SR_NO_ID ,STATUS,ISSUED_TO ,COMPANY_NAME , REMARK ,update_time)
#                     VALUES ( '202003305488','REQUESTED','analyst','bm','bmn')"""
# conn.execute(query)
# conn.commit()
# stmt = "SELECT * from elogbook "
# cursor = conn.execute(stmt)
# for row in cursor:
#     print(row)

In [118]:
# stmt = "SELECT USERNAME,ROLE,PASSWORD from USERS "
# cursor = conn.execute(stmt)
# for row in cursor:
#     print(row)
# username ="Ajeet"
# role ="Admin"
# password ="123"

# query = """INSERT INTO USERS ( USERNAME , ROLE, PASSWORD)
#                          VALUES ( '{}','{}','{}')""".format(username,role,password)
# print(query)
# conn.execute(query)

In [97]:
company_details = pd.read_excel("static\\inputData\\company_details.xlsx")
company_details.columns.tolist()


query= """CREATE TABLE company_details        
           (    
                COMPANY_NAME varchar(255),
                ADDRESS varchar(255),
                REPORT_NUMBER varchar(255))"""
conn.execute("drop table if exists  company_details ")
conn.commit()
conn.execute(query)
conn.commit()

for row in company_details.itertuples():
    query = """INSERT INTO company_details 
            ('COMPANY_NAME', 'ADDRESS', 'REPORT_NUMBER') 
            VALUES ( '{}','{}','{}')""".format(row[1],row[2],row[3])
    #print(query)
    conn.execute(query)
    conn.commit()
    
stmt = "SELECT * from company_details "
cursor = conn.execute(stmt)
equipment_list = []
for row in cursor:
    equipment_list.append(list(row))
equipment_frame = pd.DataFrame(equipment_list)
equipment_frame.columns = ['COMPANY_NAME', 'ADDRESS', 'REPORT_NUMBER']
equipment_frame

,COMPANY_NAME,ADDRESS,REPORT_NUMBER
0,Pure & Cure Healthcare Pvt. Ltd.,"Plot No.27-30, Sec. 8A, IIE, SIDCUL, Ranipur ...",13
1,Protech Telelinks,"Ogli,Suketi Road,P.O.-Kala Amb,Tehsil-Nahan,Di...",31
2,Oasis,"E-18 Selaqui Industrial Area, Dehradun Uttarak...",36
3,Anant Pharma,"G.T Road Uchani ,Karnal (132001)",94
4,Quixotic Healthcare,"Plot No-88A,EPIP Phase-II,Thana, Baddi,Distt. ...",91
5,IGL,"Plot No 2-5, Pharmacity, Selaqui, Dehradun (U.K)",16
6,Prohealth Lifesciences,"Plot No.177,JLPL Industrial Area,Sector-82,Moh...",97
7,M/S Uni Medicolabs,": Plot No. 21,22 Pharmacity Selaqui Dehradun",7
8,Russan Pharma Limited,"Khasra No.: 122 MI, Central Hope Town, Behind ...",78
9,Vivimed Labs Limited.,"Plot No.-25, Kundeshwari Village, Kashipur-244...",3
10,HFA Formulation,E-25 Sidcul Selaqui Dehradun,86
11,Ajeet,82/19 gandhi gram kanpur,109
12,Cennet Biopharma Pvt Ltd,"Plot No .3 ,Phase-3, Sector-18, Industrial ...",102
13,Themis Medicare Limited,"Plot no. 16-17-18,Sec 6A Sidcul Haridwar (U.K)",90
14,Uni Medicolabs,"21 Selakui, Dehradun",7
15,Idel Pet Indistries,"Village- Moginand ,Nahan Road Kala Amb",106
16,Ishaanav,"Khasara No.1016,Central Hope Town, Camp Road ,...",107
17,Dr. Smith Biotech pvt,"Plot No:B-5, khasra no.9 &10,Dev Bhoomi indus...",95
18,Om Sai,HARIDWAR SEDIKUL,99
19,Jai mittra,SONIPAT HARIYANA,100
20,VED LIFESAVERS (P) LTD.,"Plot no.A-3,Sara Industrial Area ,Shankarpur,H...",1
21,Lomus Pharmacuticals,"P.O. Box No. 4506,Lomus House Kallaschour , G...",101
22,Genetica(Nepal),"Motisar, Bara, Nepal",103
23,NPL,Birgunj,78
24,Aarna Healthcare,"Nand Nagri Industrial State, Phase-II, Mahua K...",76
25,Hab Pharma,"10, Pharmacity, SIDCUL, Industrial Area, Selaq...",4
26,Win Medicare PVT.LTD.,"Modipuram Meerut Muzaffarnagar Road,250110 UP",105
27,Yacca Lifescience Pvt.Ltd,"156, Raipur, Bhagwanpur,Roorkee-247661(U.K.) I...",79
28,East African/Ear India,"Plot No.- 8, Pharma City, Dehradun (U.K.) 248011",83
29,ALDER BIOCHEM,"4A,Sara Industial Estate Ltd.Selaqui,Rampur-24...",108

In [111]:
query = """delete from  USERS"""
conn.execute(query)
conn.commit()

In [113]:
conn.execute("""INSERT INTO USERS (USERNAME,ROLE,PASSWORD)
             VALUES ('admin', 'admin', '29cac80ff6a0156263c5d414825633dd4175c77a67ff75f54860991e7c0e0bd0')""")

conn.execute("""INSERT INTO USERS (USERNAME,ROLE,PASSWORD)
             VALUES ('analyst', 'analyst', 'ce817ec2779be727aadd4e3b42fe850685341027852d97fc26fef783864fb2ec')""")
conn.commit()